
<section class="advantages__section" id="advantages">
    <div class="advantages__container container">
        <h2 class="advantages__title  visually-hidden">Advantages section name</h2>
        <ul class="advantages__list list">
            <li class="advantages__item">
                <h3 class="advantages__item-title advantages__item-title--first">721</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <h3 class="advantages__item-title advantages__item-title--second">16kg</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <h3 class="advantages__item-title advantages__item-title--third">84</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>