<footer class="footer__main">
  <div class="footer__group container">
    <div class="footer__group-title">
      <p class="footer__title-span footer__title">
        homemade ice cream made <span class="footer__title-span">with passion</span>
      </p>
    </div>
    <div class="footer__list-group">
      <ul class="footer-list">
        <li class="footer-list__item">
          <a href="https://github.com/" target="_blank" class="link footer-list__link">
            <svg class="footer-list__icons" width="32px" height="32px">
              <use href="../src/images/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
        <li class="footer-list__item">
          <a href="https://web.telegram.org/" target="_blank" class="link footer-list__link">
            <svg class="footer-list__icons" width="32px" height="32px">
              <use href="../src/images/symbol-defs.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-list__item">
          <a href="https://www.facebook.com/" target="_blank" class="link footer-list__link">
            <svg class="footer-list__icons" width="32px" height="32px">
              <use href="../src/images/symbol-defs.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer__text-tel">
        Feel free to contact<a class="link footer__tel" href="tel:+610383766284">
          +61 (0) 383 766 284
        </a>
      </p>
    </div>
    <p class="footer__copyright">&#169; 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
