
<section Class="gallery-section container__section-gallery" id="gallery">
  <div class="container container-gallery">
      <picture>
        <source
          srcset="./images/gallery/gallery-desk.jpg 1x,
                        ./images/gallery/gallery-desk2x.jpg 2x"
          media="(min-width:1200px)"
        >
        <source
          srcset="./images/gallery/gallery-tab.jpg 1x,
                        ./images/gallery/gallery-tab2x.jpg 2x"
          media="(min-width:768px)"
        >
        <source
          srcset="./images/gallery/gallery-mob.jpg 1x,
                        ./images/gallery/gallery-mob2x.jpg 2x"
          media="(min-width:320px)"
        >
        <img class="gallery__img" src="./images/gallery/gallery-desk.jpg" alt="gallery" />
      </picture>
  </div>
</section>
