<div class="header">
<div class="header-container">

    <a class="header__logo-icon-text link" href="">
        <div class="header__logo-icon">
            <svg class="header__logo" width="50" height="50">
                <use href="images/hero-header/icons.svg#icon-logo-1-new"></use>
            </svg>
        </div>
        <p class="header__logo-text">ICECREAM</p>
    </a>


    <div class="header-open-menu-btn-position">
        <button type="button" class="header-open-menu-btn  js-open-menu " aria-expanded="false"
            aria-controls="mobile-menu">
            <svg class="open-menu-btn__svg" width="20" height="12">
                <use href="images/hero-header/icons.svg#icon-burger"></use>
            </svg>
        </button>
    </div>
 

    <nav class="header__navigation">
        <ul class="nav-list list">
            <li class="nav-list__item">
                <a class="nav-list__link  link" href="#hero-header">Home</a>
            </li>
            <li class="nav-list__item">
                <a class="nav-list__link link" href="#customer-reviews">About us</a>
            </li>
            <li class="nav-list__item">
                <a class="nav-list__link link" href="#about">How it’s made?</a>
            </li>
            <li class="nav-list__item">
                <a class="nav-list__link link" href="#gallery">Our products</a>
            </li>
            <li class="nav-list__item">
                <a class="nav-list__link link" href="#contacts">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="header__modal-btn-position">
        <button class="header__modal-btn" type="button" data-Modal-open-header>Buy now
            <svg class="header__modal-btn-svg" width="7" height="9">
                <use href="images/hero-header/icons.svg#icon-vector-1"></use>
            </svg>
        </button>
    </div>
</div>
</div>