
<section class="products" id="products" >
    <div class="container">
        <p class="products__label">100% NATURAL</p>
        <h2 class="products__title">Products</h2>
        <ul class="list products__list">
            <li class="products__item first-box">
                <h3 class="products__name">ICE CREAM</h3>
                <div class="products__slider">
                    <div class="slider-line line1">
                    <p class="products__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                            aliqua facilisis.
                    </p>
                    <p class="products__text">
                            Ice cream is a sweetened frozen food typically eaten as a snack or dessert. It may be made from milk or cream and has
                            different colors.
                    </p>
                    </div>
                </div>
                <button class="products__button button1">
                    <svg class="products__icon icon1" width="17" height="17" style="transform: rotate(0deg);">
                        <use href="./images/symbol-defs.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item second-box">
                <h3 class="products__name">ICE COFFEE</h3>
                <div class="products__slider">
                    <div class="slider-line line2">
                        <p class="products__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.dolore magna
                            aliqua facilisis.
                        </p>
                        <p class="products__text">
                            Ice coffee is a coffee beverage served cold. It may be prepared either by brewing coffee normally and then serving it
                            over ice or milk.
                        </p>
                    </div>
                </div>
                <button class="products__button button2">
                    <svg class="products__icon icon2" width="17" height="17" style="transform: rotate(0deg);">
                        <use href="./images/symbol-defs.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item third-box">
                <h3 class="products__name">MILKSHAKES</h3>
                <div class="products__slider">
                    <div class="slider-line line3">
                        <p class="products__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore
                            magna
                            aliqua facilisis.
                        </p>
                        <p class="products__text">
                            Milkshake is a sweet drink made by blending milk, ice cream, and flavorings or sweeteners. It may also be made using
                            non-dairy products.
                        </p>
                    </div>
                </div>
                <button class="products__button button3">
                    <svg class="products__icon icon3" width="17" height="17" style="transform: rotate(0deg);">
                        <use href="./images/symbol-defs.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>
